.gp-chip {
  background-color: var(--cool-gray-200);
  color: var(--cool-gray-750);
  padding: var(--space-1h);
  padding-left: var(--space-base);
  padding-right: var(--space-base);
  font-size: var(--text-02);
  border-radius: var(--space-2x);
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: var(--space-1h);
  align-items: center;
}

.gp-chip--togglable {
  cursor: pointer;
}

.gp-chip--togglable {
  transition: background-color 200ms, color 200ms;
}

.gp-chip--cancelable {
  transition: background-color 200ms, color 200ms;
}

.gp-chip--togglable:hover, .gp-chip--cancelable:hover {
  background-color: var(--cool-gray-250);
  color: var(--cool-gray-800);
}

.gp-chip--toggled {
  background-color: var(--pantone-red-200);
  color: var(--pantone-red-700);
}

.gp-chip--toggled:hover {
  background-color: var(--pantone-red-300);
  color: var(--pantone-red-700);
}

.gp-chip--icon {
  display: grid;
  align-items: center;
  background-color: var(--cool-gray-100);
  border-radius: var(--space-2x);
  padding: var(--space-1q);
  transform: translateX(var(--space-1h));
  box-sizing: border-box;
  transition: background-color 200ms, color 200ms, box-shadow 200ms;
  cursor: pointer;
}

.gp-chip--icon:hover {
  background-color: var(--pantone-red-100);
  color: var(--pantone-red-800);
  box-shadow: 0px 0px var(--space-1h) rgba(0,0,0,.3);
}
