.gp-chip {
  background-color: var(--cool-gray-200);
  color: var(--cool-gray-750);
  padding: var(--space-1h);
  padding-left: var(--space-base);
  padding-right: var(--space-base);
  font-size: var(--text-02);
  border-radius: var(--space-2x);
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: var(--space-1h);
}

.gp-chip--toggled {
  background-color: var(--pantone-red-200);
  color: var(--pantone-red-900);
}

.gp-chip--togglable {
  cursor: pointer;
}
